body{
  margin: 0;
  padding: 0;
  background-color: #f5f7fb!important;
}

body > * {
  color: #000;
}

.card{
  margin-bottom: 30px;
  border: 1px solid #e6edef!important;
  transition: all 0.3s ease;
  letter-spacing: 0.5px!important;
  border-radius: 0!important;
  background-color: #fff;
}

.card .card-header {
  padding: 30px;
  padding-bottom: 15px!important;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  background-color: #fff;
}

.card .card-body {
  padding: 30px;
  background-color: transparent;
}

.navbar{
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
}

.logout-button{
  color: #fff!important;
}

.nav-link{
  display: flex!important;
  align-items: center;
  text-decoration: none;
}

.btn-primary{
  background-color: #24695c!important;
  outline: none!important;
  border: #24695c!important;
}

.page-wrapper{
  margin: 7rem 5rem 2rem 5rem;
}
.react-select__menu{
  font-weight: 400;
  color: #1e2125!important;
  text-decoration: none;
  border: 0;
  border: none;
  padding: 0;
  border-radius: 5%;
}

.react-select-container{
  min-width: 200.33px;
  min-height: 42.6px;
}

.react-select__control{
  min-width: 200.33px;
  min-height: 42.6px!important;
}

.react-select__menu-list{
  background-color: #fff!important;
  border: 1px solid rgba(246, 255, 253, 0.2);
  color: #000;
}

.react-select__option{
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: #171b21;
}

.react-select__menu-list::-webkit-scrollbar{
  width: 5px!important;
  height: 5px!important;
  background-color: transparent!important;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)!important;
  background-color: #9fb3b9!important;
}


.react-datepicker-wrapper{
  width: 100%;
  height: 100%;
}

.react-datepicker__input-container{
  height: 100%;
}

.digits{
  background-color: #fff!important;
  width: 300px;
  height: 39px!important;
  min-width: 200.33px;
  min-height: 42.6px;
}

.title{
  margin: 2rem 0 2rem 0;
}

.form-control{
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 1px 2px 0 rgb(57 70 92 / 5%);
  border-width: 2px;
}

.form-control:focus{
  box-shadow: 0 1px 2px 0 rgb(57 70 92 / 5%)!important;
  border-color: #19BCBF!important;
}

.dropdown-toggle{
  height: 39px!important;
  width: 135px;
}

.dropdown-menu{
  transform: translate3d(0px, 44.8px, 0px)!important;
  background-color: #fff!important;
}

.dropdown-item {
  display: flex!important;
  align-items: center;
  color: #000!important;
  justify-content: space-around;
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus{
  background-color: #e9ecef!important;
}

.dropdown-item:active {
  color: black!important;
  text-decoration: none;
  background-color: #fff!important;
}

.rounded-circle{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid!important;
  place-content: center;
}

.timeline-container .event{
  border: 1px solid #e6edef!important;
  transition: all 0.3s ease;
  letter-spacing: 0.5px!important;
  border-radius: 0!important;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  position: relative;
}

.timeline-container p{
  margin-top: 15px!important;
  color: #000!important;
}

.timeline-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customized-text{
  color: #000!important;
}

.plane-icon{
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.top-button{
  width: 147px;
}

#dropdown-basic-button{
  width: 135px;
}

.timeline-content > * {
  color: #000;
}

.invalidFeedback{
  color: red;
  margin: 0;
  padding: 0;
}

.admin-buttons{
  background-color: #0a4439!important;
  color: #fff;
}

.modal-inputs{
  width: 48%;
}

.modal-datepicker{
  height: 50px;
}

.fullWidth{
  width: 100%!important;
}

.fullHeight{
  height: 100%!important;
}

.navbar-brand:focus, .navbar-brand:hover{
  cursor: pointer;
  color: #24695c!important;
}

.flight-category-text{
  font-size: 12px;
}

.flight-category-title{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem!important;
}

.first-text{
  margin-bottom: 0.1rem;
}

.vip-category-text{
  color: lightseagreen;
  font-weight: 700;
}

.category-icons{
  width: 17px;
}

.custom-modal-header{
  border: none!important;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
}

.custom-modal-footer{
  border: none!important;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
}

.custom-price{
  font-weight: 700;
  font-size: 17px;
  margin: 0;
}

.vip-header{
  border: none!important;
  background-image: linear-gradient(#327D81, #fff);
} 

.sort-dropdown{
  display: flex;
  align-items: center;
}

.sort-dropdown span{
  margin-right: 5px;
  font-size: 18px;
}

.superadmin-buttons{
  background-color: #0a4439!important;
}

.flight-companies h2 {
  margin-bottom: 1rem;
}

.plane{
  padding: 10px;
  border: 1px solid #e6edef!important;
  transition: all 0.3s ease;
  letter-spacing: 0.5px!important;
  border-radius: 0!important;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ticket-header{
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
}

#planes-dropdown-button{
  width: 100%!important;
  height: 100%!important;
}

.input-group > .dropdown > .dropdown-menu{
  transform: translate3d(0px, 52px, 0px)!important;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  top: 0px!important;
  bottom: auto!important;
}


.input-group > .dropdown > .dropdown-menu::-webkit-scrollbar{
  width: 5px!important;
  height: 5px!important;
  background-color: #fff!important;
}

.input-group > .dropdown > .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)!important;
  background-color: #9fb3b9!important;
}

.action-buttons{
  background-color: transparent!important;
  transition: outline 0.3s ease, box-shadow 0.3s ease;
}

.action-buttons > img{
  width: 25px;
}

.action-buttons:active {
  outline: 1px solid #000!important;
}

.add-plane > button {
  height: 36px!important;
}